<config>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <homepage_blog_options>
                                            <title>Homepage Blog Options</title>
                                        </homepage_blog_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <modules>
        <Smartbees_Blog>
            <version>0.1.0</version>
        </Smartbees_Blog>
    </modules>
    <global>
        <helpers>
            <Smartbees_Blog>
                <class>Smartbees_Blog_Helper</class>
            </Smartbees_Blog>
        </helpers>
        <events>
            <admin_system_config_changed_section_homepage_blog_options>
                <observers>
                    <Smartbees_Blog>
                        <type>singleton</type>
                        <class>Smartbees_Blog_Model_Observer</class>
                        <method>adminSystemConfigChangedSectionHomepage_blog_options</method>
                    </Smartbees_Blog>
                </observers>
            </admin_system_config_changed_section_homepage_blog_options>
        </events>
        <blocks>
            <smartbees_blog>
                <class>Smartbees_Blog_Block</class>
            </smartbees_blog>
        </blocks>
        <models>
            <smartbees_blog>
                <class>Smartbees_Blog_Model</class>
            </smartbees_blog>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <smartbeesblog>
                    <file>smartbeesblog.xml</file>
                </smartbeesblog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Smartbees_Blog>
                    <files>
                        <default>Smartbees_Blog.csv</default>
                    </files>
                </Smartbees_Blog>
            </modules>
        </translate>
    </frontend>
</config>