<config>
    <tabs>
        <homepage_blog translate="label" module="Smartbees_Blog">
            <label>Homepage Blog</label>
            <sort_order>99999</sort_order>
        </homepage_blog>
    </tabs> 
    <sections>
        <homepage_blog_options translate="label" module="Smartbees_Blog">
            <label>Homepage Blog Options</label>
            <tab>homepage_blog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>  
            <groups>
                <first_blog_article translate="label">
                    <label>First Blog Article</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>   
                    <fields>
                        <first_blog_article_url>
                            <label>First Blog Article URL key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </first_blog_article_url>
                        <first_blog_article_img>
                            <label>First Blog Article IMG name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </first_blog_article_img>
                    </fields>                          
                </first_blog_article>
                <second_blog_article translate="label">
                    <label>Second Blog Article</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>   
                    <fields>
                        <second_blog_article_url>
                            <label>Second Blog Article URL key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </second_blog_article_url>
                        <second_blog_article_img>
                            <label>Second Blog Article IMG name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </second_blog_article_img>
                    </fields>                          
                </second_blog_article>
                <third_blog_article translate="label">
                    <label>Third Blog Article</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>   
                    <fields>
                        <third_blog_article_url>
                            <label>Third Blog Article URL key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </third_blog_article_url>
                        <third_blog_article_img>
                            <label>Third Blog Article IMG name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </third_blog_article_img>
                    </fields>                          
                </third_blog_article>
            </groups>                  
        </homepage_blog_options>
    </sections>
</config> 