<?xml version="1.0"?>
<!--
/**
 * Istans_Nailgallery extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Istans
 * @package        Istans_Nailgallery
 * @copyright      Copyright (c) 2016
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config>
    <modules>
        <Istans_Nailgallery>
            <version>1.0.1</version>
        </Istans_Nailgallery>
    </modules>
    <global>
        <resources>
            <istans_nailgallery_setup>
                <setup>
                    <module>Istans_Nailgallery</module>
                    <class>Istans_Nailgallery_Model_Resource_Setup</class>
                </setup>
            </istans_nailgallery_setup>
        </resources>
        <blocks>
            <istans_nailgallery>
                <class>Istans_Nailgallery_Block</class>
            </istans_nailgallery>
        </blocks>
        <helpers>
            <istans_nailgallery>
                <class>Istans_Nailgallery_Helper</class>
            </istans_nailgallery>
        </helpers>
        <models>
            <istans_nailgallery>
                <class>Istans_Nailgallery_Model</class>
                <resourceModel>istans_nailgallery_resource</resourceModel>
            </istans_nailgallery>
            <istans_nailgallery_resource>
                <class>Istans_Nailgallery_Model_Resource</class>
                <entities>
                    <gallery>
                        <table>istans_nailgallery_gallery</table>
                    </gallery>
                    <event>
                        <table>istans_nailgallery_event</table>
                    </event>
                    <video>
                        <table>istans_nailgallery_video</table>
                    </video>
                    <eventimage>
                        <table>istans_nailgallery_eventimage</table>
                    </eventimage>
                    <gallery_store>
                        <table>istans_nailgallery_gallery_store</table>
                    </gallery_store>
                    <event_store>
                        <table>istans_nailgallery_event_store</table>
                    </event_store>
                    <video_store>
                        <table>istans_nailgallery_video_store</table>
                    </video_store>
                    <eventimage_store>
                        <table>istans_nailgallery_eventimage_store</table>
                    </eventimage_store>
                </entities>
            </istans_nailgallery_resource>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <istans_nailgallery>
                        <class>Istans_Nailgallery_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </istans_nailgallery>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <istans_nailgallery>
                    <file>istans_nailgallery.xml</file>
                </istans_nailgallery>
            </updates>
        </layout>
        <translate>
            <modules>
                <Istans_Nailgallery>
                    <files>
                        <default>Istans_Nailgallery.csv</default>
                    </files>
                </Istans_Nailgallery>
            </modules>
        </translate>
        <global_search>
            <gallery>
                <class>istans_nailgallery/adminhtml_search_gallery</class>
                <acl>istans_nailgallery</acl>
            </gallery>
            <event>
                <class>istans_nailgallery/adminhtml_search_event</class>
                <acl>istans_nailgallery</acl>
            </event>
            <video>
                <class>istans_nailgallery/adminhtml_search_video</class>
                <acl>istans_nailgallery</acl>
            </video>
            <eventimage>
                <class>istans_nailgallery/adminhtml_search_eventimage</class>
                <acl>istans_nailgallery</acl>
            </eventimage>
        </global_search>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Istans_Nailgallery before="Mage_Adminhtml">Istans_Nailgallery_Adminhtml</Istans_Nailgallery>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <istans_nailgallery>
                <use>standard</use>
                <args>
                    <module>Istans_Nailgallery</module>
                    <frontName>istans_nailgallery</frontName>
                </args>
            </istans_nailgallery>
        </routers>
        <layout>
            <updates>
                <istans_nailgallery>
                    <file>istans_nailgallery.xml</file>
                </istans_nailgallery>
            </updates>
        </layout>
        <translate>
            <modules>
                <Istans_Nailgallery>
                    <files>
                        <default>Istans_Nailgallery.csv</default>
                    </files>
                </Istans_Nailgallery>
            </modules>
        </translate>
    </frontend>
    <default>
        <istans_nailgallery>
            <gallery>
                <breadcrumbs>1</breadcrumbs>
                <url_rewrite_list>nailart</url_rewrite_list>
                <rss>1</rss>
                <meta_title>Gallery</meta_title>
            </gallery>
            <event>
                <breadcrumbs>1</breadcrumbs>
                <url_rewrite_list>events</url_rewrite_list>
                <rss>1</rss>
                <meta_title>Event</meta_title>
            </event>
            <video>
                <breadcrumbs>1</breadcrumbs>
                <url_rewrite_list>videos</url_rewrite_list>
                <rss>1</rss>
                <meta_title>Video</meta_title>
            </video>
            <eventimage>
                <breadcrumbs>1</breadcrumbs>
                <rss>1</rss>
                <meta_title>Event image</meta_title>
            </eventimage>
        </istans_nailgallery>
    </default>
</config>
