<?xml version="1.0"?>
<config>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <smartbees_modules_options>
                                            <title>Smartbees modules options</title>
                                        </smartbees_modules_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <modules>
        <Smartbees_CustomerAttr>
            <version>1.0.0</version>
        </Smartbees_CustomerAttr>
    </modules>
    <global>
       <helpers>
            <Smartbees_CustomerAttr>
                <class>Smartbees_CustomerAttr_Helper</class>
            </Smartbees_CustomerAttr>
        </helpers>
        <resources>
            <smartbees_customerattr_setup>
                <setup>
                    <module>Smartbees_CustomerAttr</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </smartbees_customerattr_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <smartbees_customerattr>
                    <file>smartbees_customerattr.xml</file>
                </smartbees_customerattr>
            </updates>
        </layout>
        <translate>
            <modules>
                <Smartbees_CustomerAttr>
                    <files>
                        <default>Smartbees_CustomerAttr.csv</default>
                    </files>
                </Smartbees_CustomerAttr>
            </modules>
        </translate>
    </frontend>
</config>