<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2014 Sergey Cherepanov (sergey@cherepanov.org.ua)
 * @license Creative Commons Attribution 3.0 License
 */
-->
<config>
    <modules>
        <Open_Gallery>
            <version>0.1.0</version>
        </Open_Gallery>
    </modules>
    <global>
        <models>
            <open_gallery>
                <class>Open_Gallery_Model</class>
                <resourceModel>open_gallery_resource</resourceModel>
            </open_gallery>
            <open_gallery_resource>
                <class>Open_Gallery_Model_Resource</class>
                <entities>
                    <category>
                        <table>open_gallery_category</table>
                    </category>
                    <item>
                        <table>open_gallery_item</table>
                    </item>
                </entities>
            </open_gallery_resource>
        </models>
        <blocks>
            <open_gallery>
                <class>Open_Gallery_Block</class>
            </open_gallery>
        </blocks>
        <helpers>
            <open_gallery>
                <class>Open_Gallery_Helper</class>
            </open_gallery>
        </helpers>
        <resources>
            <open_gallery_setup>
                <setup>
                    <module>Open_Gallery</module>
                </setup>
            </open_gallery_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Open_Gallery before="Mage_Adminhtml">Open_Gallery_Adminhtml</Open_Gallery>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <open_gallery>
                    <file>open/gallery.xml</file>
                </open_gallery>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <open_gallery>
                <use>standard</use>
                <args>
                    <module>Open_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </open_gallery>
        </routers>
        <layout>
            <updates>
                <open_gallery>
                    <file>open/gallery.xml</file>
                </open_gallery>
            </updates>
        </layout>
    </frontend>
    <default>
        <open_gallery>
            <image>
                <category_list_image_width>256</category_list_image_width>
                <category_list_image_height>196</category_list_image_height>
                <list_image_width>256</list_image_width>
                <list_image_height>196</list_image_height>
                <box_image_width>800</box_image_width>
                <box_image_height>600</box_image_height>
            </image>
        </open_gallery>
    </default>
</config>
