<?xml version="1.0"?>
<config>
    <modules>
        <Itdelight_SeoOptimizer>
            <version>0.4.0</version>
        </Itdelight_SeoOptimizer>
    </modules>
    <global>
        <events>
            <controller_action_predispatch_catalog_product_view>
                <observers>
                    <seooptomizer>
                        <class>Itdelight_SeoOptimizer_Model_Observer</class>
                        <method>productUrlRedirect</method>
                    </seooptomizer>
                </observers>
            </controller_action_predispatch_catalog_product_view>
        </events>
        <resources>
            <seooptimizer_setup>
                <setup>
                    <module>Itdelight_SeoOptimizer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seooptimizer_setup>
            <seooptimizer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seooptimizer_write>
            <seooptimizer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seooptimizer_read>
        </resources>
        <helpers>
            <seooptimizer>
                <class>Itdelight_SeoOptimizer_Helper</class>
            </seooptimizer>
        </helpers>
    </global>
</config> 