<?xml version="1.0"?>
<config>
    <modules>
        <Smartbees_Gift>
            <version>1.0.3</version>
        </Smartbees_Gift>
    </modules>
    <global>
        <models>
            <gift>
                <class>Smartbees_Gift_Model</class>
            </gift>
        </models>
        <helpers>
            <gift>
                <class>Smartbees_Gift_Helper</class>
            </gift>
        </helpers>
        <resources>
            <gift_setup>
                <setup>
                    <module>Smartbees_Gift</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gift_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <is_gift>
                    <to_order_item>is_gift</to_order_item>
                </is_gift>
            </sales_convert_quote_item>
        </fieldsets>
    </global>
    <adminhtml>
        <events>
            <adminhtml_block_salesrule_actions_prepareform>
                <observers>
                    <gift>
                        <type>model</type>
                        <class>gift/observer</class>
                        <method>adminhtmlBlockSalesruleActionsPrepareform</method>
                    </gift>
                </observers>
            </adminhtml_block_salesrule_actions_prepareform>
            <adminhtml_controller_salesrule_prepare_save>
                <observers>
                    <gift>
                        <type>model</type>
                        <class>gift/observer</class>
                        <method>adminhtmlControllerSalesrulePrepareSave</method>
                    </gift>
                </observers>
            </adminhtml_controller_salesrule_prepare_save>
        </events>
        <translate>
            <modules>
                <Smartbees_Gift>
                    <files>
                        <default>Smartbees_Gift.csv</default>
                    </files>
                </Smartbees_Gift>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <gift>
                    <file>gift.xml</file>
                </gift>
            </updates>
        </layout>
        <events>
            <salesrule_validator_process>
                <observers>
                    <gift>
                        <type>model</type>
                        <class>gift/observer</class>
                        <method>salesruleValidatorProcess</method>
                    </gift>
                </observers>
            </salesrule_validator_process>
            <sales_quote_load_after>
                <observers>
                    <gift>
                        <type>model</type>
                        <class>gift/observer</class>
                        <method>salesQuoteCollectTotalsBefore</method>
                    </gift>
                </observers>
            </sales_quote_load_after>
            <catalog_product_type_prepare_full_options>
                <observers>
                    <gift>
                        <class>gift/observer</class>
                        <method>catalogProductTypePrepareFullOptions</method>
                    </gift>
                </observers>
            </catalog_product_type_prepare_full_options>
            <sales_quote_product_add_after>
                <observers>
                    <gift>
                        <class>gift/observer</class>
                        <method>salesQuoteProductAddAfter</method>
                    </gift>
                </observers>
            </sales_quote_product_add_after>
        </events>
    </frontend>
</config>
