<?xml version="1.0"?>
<config>
  <modules>
    <Smartbees_Dpd>
      <version>1.0</version>
    </Smartbees_Dpd>
  </modules>
  <global>
    <models>
      <smartbees_dpd>
        <class>Smartbees_Dpd_Model</class>
      </smartbees_dpd>
      <smartbees_dpd>
        <class>Smartbees_Dpd_Model</class>
      </smartbees_dpd>
    </models>
    <events>
      <sales_order_shipment_track_save_after>
          <observers>
              <Smartbees_Dpd_Model_Observer>
                  <type>singleton</type>
                  <class>Smartbees_Dpd_Model_Observer</class>
                  <method>send_email</method>
              </Smartbees_Dpd_Model_Observer>
          </observers>
      </sales_order_shipment_track_save_after>
    </events>
    <helpers>
      <smartbees_dpd>
        <class>Smartbees_Dpd_Helper</class>
      </smartbees_dpd>
    </helpers>>
  </global>
  <default>
    <carriers>
      <smartbees>
        <active>1</active>
        <sallowspecific>1</sallowspecific>
        <model>smartbees_dpd/carrierdpd</model>
        <name>DPD</name>
        <price>10.00</price>
        <title>DPD</title>
      </smartbees>
    </carriers>
  </default>
</config>