<IfModule mod_deflate.c>

    RemoveOutputFilter DEFLATE
    RemoveOutputFilter GZIP

</IfModule>

<Files ~ "\.(cfg|ini|xml)$">
    order allow,deny
    deny from all
</Files> 

AuthType Basic
AuthName "Access to the downloader"
#AuthUserFile /home/reforma-ua/web/reforma-ua.itdelight.com/public_html/downloader/.htpasswd
Require valid-user