<?xml version="1.0"?>
<config>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <registrationpoll_options>
                                            <title>Store Registrationpoll Options Module Section</title>
                                        </registrationpoll_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <modules>
        <registration_poll>
            <version>1.0.0</version>
        </registration_poll>
    </modules>
    <global>
        <helpers>
            <registration_poll>
                <class>registration_poll_Helper</class>
            </registration_poll>
        </helpers>
        <resources>
            <registration_poll_setup>
                <setup>
                    <module>registration_poll</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </registration_poll_setup>
        </resources>
        <models>
            <registration_poll>
                <class>registration_poll_Model</class>
            </registration_poll>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <registration_poll>
                    <file>registration_poll.xml</file>
                </registration_poll>
            </updates>
        </layout>
        <translate>
            <modules>
                <registration_poll>
                    <files>
                        <default>registration_poll.csv</default>
                    </files>
                </registration_poll>
            </modules>
        </translate>
    </frontend>
</config>