<?xml version="1.0"?>
<config>
 <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <registrationpoll_options>
                                            <title>Store RegistrationPoll Options Module Section</title>
                                        </registrationpoll_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <modules>
        <Registration_Poll>
            <version>1.0.0</version>
        </Registration_Poll>
    </modules>
    <global>
        <helpers>
            <Registration_Poll>
                <class>Registration_Poll_Helper</class>
            </Registration_Poll>
        </helpers>
        <resources>
            <registration_poll_setup>
                <setup>
                    <module>Registration_Poll</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </registration_poll_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <registration_poll>
                    <file>registration_poll.xml</file>
                </registration_poll>
            </updates>
        </layout>
        <translate>
            <modules>
                <Registration_Poll>
                    <files>
                        <default>Registration_Poll.csv</default>
                    </files>
                </Registration_Poll>
            </modules>
        </translate>
    </frontend>
</config>