#hp-blog { margin: 20px auto; padding: 20px 0; border: 1px solid #d3d3d3; border-left: none; border-right: none; }
#hp-blog #hp-blog-list-title-top { text-align: center; font-size: 17px; color: #46a324; text-transform: uppercase; }
#hp-blog #hp-blog-list-title-bottom { position: relative; text-align: center; font-size: 17px; padding-bottom: 20px; }
#hp-blog #hp-blog-list-title-bottom::after { content: ''; position: absolute; left: 50%; bottom: 15px; transform: translate(-50%); height: 2px; width: 100px; background-color: #d3d3d3; }
#hp-blog #hp-blog-list { display: flex; flex-wrap: nowrap; justify-content: center; justify-items: center;list-style-type: none; }
#hp-blog #hp-blog-list .single-post {  max-width: 390px; width: auto; margin: 0 20px 0 20px;}
#hp-blog #hp-blog-list .single-post .img {  width: 390px; height: 250px; background-position: center;}
#hp-blog #hp-blog-list .single-post .blog-title {text-align: center; padding: 8px 15px 10px 15px; }
@media (max-width: 768px){
    #hp-blog #hp-blog-list { display: flex; flex-wrap: wrap; justify-content: center; justify-items: center;list-style-type: none; }
}