#instagram-custom-block {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}
#instagram-custom-block #instagram-posts {
    height: auto;
    width: 100%;
}
#instagram-custom-block #instagram-posts .instaApi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
#instagram-custom-block #instagram-posts .instaApi img {
    width: 20%;
    object-fit: cover;   
}
#instagram-custom-block .block-title {
    position: relative;
    line-height: 45px;
    text-align: center;
    font-size: 17px;
    color: #59b9bd;
    text-transform: uppercase;  
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;  
}
#instagram-custom-block .block-title-hash {
    text-align: center;
    font-size: 32px;
    padding-bottom: 20px;
}
#instagram-custom-block .block-title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    height: 2px;
    width: 100px;
    background-color: #d3d3d3;
}
@media (max-width: 992px) {
    #instagram-custom-block {
        max-width: 750px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 25px;
    }
    #instagram-custom-block #instagram-posts .instaApi img {
        width: 32%;
        object-fit: cover;
    }
}
@media (max-width: 600px) {
    #instagram-custom-block #instagram-posts .instaApi img {
        width: 40%;
        object-fit: cover;
    }
}
@media (max-width: 500px) {
    #instagram-custom-block #instagram-posts .instaApi img {
        width: 60%;
        object-fit: cover; 
    }
}
@media (max-width: 400px) {
    #instagram-custom-block #instagram-posts .instaApi img {
        width: 70%;
        object-fit: cover; 
    }
}