<?xml version="1.0"?>
<config>
    <modules>
        <Itdelight_QuickOrder>
            <version>0.1.0</version>
        </Itdelight_QuickOrder>
    </modules>
    <frontend>
        <routers>
            <popuporder>
                <use>standard</use>
                <args>
                    <module>Itdelight_QuickOrder</module>
                    <frontName>popuporder</frontName>
                </args>
            </popuporder>
        </routers>
        <layout>
            <updates>
                <popuporder>
                    <file>id_quickorder.xml</file>
                </popuporder>
            </updates>
        </layout>
        <translate>
            <modules>
                <Itdelight_QuickOrder>
                    <files>
                        <default>Itdelight_QuickOrder.csv</default>
                    </files>
                </Itdelight_QuickOrder>
            </modules>
        </translate>
        <events>
           <!-- <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <popuporder_checkout_cart_index>
                        <class>popuporder/observer</class>
                        <method>closeUrl</method>
                    </popuporder_checkout_cart_index>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <popuporder_checkout_onepage_index>
                        <class>popuporder/observer</class>
                        <method>closeUrl</method>
                    </popuporder_checkout_onepage_index>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>-->
        </events>
    </frontend>
    <global>
        <models>
            <popuporder>
                <class>Itdelight_QuickOrder_Model</class>
            </popuporder>
        </models>
        <helpers>
            <popuporder>
                <class>Itdelight_QuickOrder_Helper</class>
            </popuporder>
        </helpers>
        <blocks>
            <popuporder>
                <class>Itdelight_QuickOrder_Block</class>
            </popuporder>
        </blocks>
    </global>
</config> 