<?xml version="1.0"?>
<config>
    <modules>
        <Mageneo_Flipbook>
            <version>1.0.0</version>
        </Mageneo_Flipbook>
    </modules>
    <!--<admin>-->
        <!--<routers>-->
            <!--<adminhtml>-->
                <!--<args>-->
                    <!--<modules>-->
                        <!--<mageneo_flipbook after="Mage_Adminhtml">Mageneo_Flipbook_Adminhtml</mageneo_flipbook>-->
                    <!--</modules>-->
                <!--</args>-->
            <!--</adminhtml>-->
        <!--</routers>-->
    <!--</admin>-->
    <frontend>
        <secure_url>
            <flipbook>/catalogue/</flipbook>
        </secure_url>
        <routers>
            <flipbook>
                <use>standard</use>
                <args>
                    <module>Mageneo_Flipbook</module>
                    <frontName>catalogue</frontName>
                </args>
            </flipbook>
        </routers>
        <layout>
            <updates>
                <mageneo_flipbook module="Mageneo_Flipbook">
                    <file>mageneo/flipbook.xml</file>
                </mageneo_flipbook>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mageneo_Flipbook>
                    <files>
                        <default>Mageneo/Flipbook.csv</default>
                    </files>
                </Mageneo_Flipbook>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <Mageneo_Flipbook>
                    <files>
                        <default>Mageneo/Flipbook.csv</default>
                    </files>
                </Mageneo_Flipbook>
            </modules>
        </translate>

        <menu>
            <mageneo_flipbook module="mageneo_flipbook">
                <title>Flipbook</title>
                <sort_order>71</sort_order>
                <children>
                    <manage_books module="mageneo_flipbook">
                        <title>Manage Books</title>
                        <sort_order>0</sort_order>
                        <action>adminhtml/flipbook/index</action>
                    </manage_books>
                    <!--<settings translate="title" module="blog">-->
                        <!--<title>Settings</title>-->
                        <!--<action>adminhtml/system_config/edit/section/blog</action>-->
                        <!--<sort_order>40</sort_order>-->
                    <!--</settings>-->
                </children>
            </mageneo_flipbook>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <mageneo_flipbook>
                            <title>Mageneo Flipbook</title>
                            <sort_order>70</sort_order>
                            <children>
                                <manage_books>
                                    <title>Manage Books</title>
                                    <sort_order>0</sort_order>
                                </manage_books>
                            </children>
                        </mageneo_flipbook>
                        <!--<system>-->
                            <!--<children>-->
                                <!--<config>-->
                                    <!--<children>-->
                                        <!--<blog>-->
                                            <!--<title>aheadWorks Blog Section</title>-->
                                        <!--</blog>-->
                                    <!--</children>-->
                                <!--</config>-->
                            <!--</children>-->
                        <!--</system>-->
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <mageneo_flipbook module="Mageneo_Flipbook">
                    <file>mageneo/flipbook.xml</file>
                </mageneo_flipbook>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <mageneo_flipbook>
                <class>Mageneo_Flipbook_Block</class>
            </mageneo_flipbook>
        </blocks>
        <helpers>
            <mageneo_flipbook>
                <class>Mageneo_Flipbook_Helper</class>
            </mageneo_flipbook>
        </helpers>
        <models>
            <mageneo_flipbook>
                <class>Mageneo_Flipbook_Model</class>
                <resourceModel>mageneo_flipbook_resource</resourceModel>
            </mageneo_flipbook>
            <mageneo_flipbook_resource>
                <class>Mageneo_Flipbook_Model_Resource</class>
                <entities>
                    <book>
                        <table>mageneo_flipbook_book</table>
                    </book>
                    <page>
                        <table>mageneo_flipbook_page</table>
                    </page>
                    <store>
                        <table>mageneo_flipbook_store</table>
                    </store>
                    <page_book>
                        <table>mageneo_flipbook_page_book</table>
                    </page_book>
                </entities>
            </mageneo_flipbook_resource>
            <!--<sitemap>-->
                <!--<rewrite>-->
                    <!--<sitemap>AW_Blog_Model_Sitemap</sitemap>-->
                <!--</rewrite>-->
            <!--</sitemap>-->
        </models>
        <resources>
            <mageneo_flipbook_setup>
                <setup>
                    <module>Mageneo_Flipbook</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mageneo_flipbook_setup>
            <!--<mageneo_flipbook_write>-->
                <!--<connection>-->
                    <!--<use>core_write</use>-->
                <!--</connection>-->
            <!--</mageneo_flipbook_write>-->
            <!--<mageneo_flipbook_read>-->
                <!--<connection>-->
                    <!--<use>core_read</use>-->
                <!--</connection>-->
            <!--</mageneo_flipbook_read>-->
        </resources>
        <events>
            <!--<controller_front_init_routers>-->
                <!--<observers>-->
                    <!--<mageneo_flipbook>-->
                        <!--<type>singleton</type>-->
                        <!--<class>Mageneo_Flipbook_Controller_Router</class>-->
                        <!--<method>initControllerRouters</method>-->
                    <!--</mageneo_flipbook>-->
                <!--</observers>-->
            <!--</controller_front_init_routers>-->

            <!--<controller_action_predispatch>-->
                <!--<observers>-->
                    <!--<mageneo_flipbook>-->
                        <!--<type>singleton</type>-->
                        <!--<class>mageneo_flipbook/observer</class>-->
                        <!--<method>rewriteRssList</method>-->
                    <!--</mageneo_flipbook>-->
                <!--</observers>-->
            <!--</controller_action_predispatch>-->
            <!--<sitemap_add_xml_block_to_the_end>-->
                <!--<observers>-->
                    <!--<add_blog_section>-->
                        <!--<type>singleton</type>-->
                        <!--<class>blog/observer</class>-->
                        <!--<method>addBlogSection</method>-->
                    <!--</add_blog_section>-->
                <!--</observers>-->
            <!--</sitemap_add_xml_block_to_the_end>-->
        </events>
    </global>
    <!--<default>-->
        <!--<sitemap>-->
            <!--<blog>-->
                <!--<changefreq>weekly</changefreq>-->
                <!--<priority>0.5</priority>-->
            <!--</blog>-->
        <!--</sitemap>-->
        <!--<mageneo>-->
            <!--<flipbook>-->
                <!--<enabled>1</enabled>-->
                <!--<blogcrumbs>1</blogcrumbs>-->
                <!--<recent>5</recent>-->
                <!--<dateformat>full</dateformat>-->
                <!--<layout>page/2columns-right.phtml</layout>-->
                <!--<comments>1</comments>-->
                <!--<useshortcontent>1</useshortcontent>-->
                <!--<rss>1</rss>-->
                <!--<rssimage>images/BlogLogo.png</rssimage>-->
                <!--<parse_cms>0</parse_cms>-->
                <!--<categories_urls>1</categories_urls>-->
            <!--</flipbook>-->
            <!--<comments>-->
                <!--<page_count>10</page_count>-->
            <!--</comments>-->
            <!--<menu>-->
                <!--<category>1</category>-->
                <!--<tagcloud_size>10</tagcloud_size>-->
            <!--</menu>-->
        <!--</mageneo>-->
    <!--</default>-->
</config>
