<?xml version="1.0"?>
<config>
    <modules>
        <Dialcom_Przelewy>
            <version>3.5.10</version>
            <depends>
                <Mage_Payment />
            </depends>
        </Dialcom_Przelewy>
    </modules>
    <global>
        <template>
            <email>
                <p24_default_mail_with_link translate="label" module="przelewy">
                    <label>Default mail with link</label>
                    <file>przelewy24/p24_default_mail_with_link.html</file>  // this specifies the path where the custom template is located
                    <type>html</type>
                </p24_default_mail_with_link>
            </email>
        </template>
        <blocks>
            <przelewy>
                <class>Dialcom_Przelewy_Block</class>
            </przelewy>
        </blocks>
        <models>
            <dialcom_przelewy>
                <class>Dialcom_Przelewy_Model</class>
            </dialcom_przelewy>
            <przelewy>
                <class>Dialcom_Przelewy_Model</class>
            </przelewy>
            <recuring>
                <class>Dialcom_Przelewy_Model</class>
                <resourceModel>recuring_mysql4</resourceModel>
            </recuring>
            <recuring_mysql4>
                <class>Dialcom_Przelewy_Model_Mysql4</class>
                <entities>
                    <recuring>
                        <table>p24_recuring</table>
                    </recuring>
                </entities>
            </recuring_mysql4>
        </models>
        <helpers>
            <przelewy>
                <class>Dialcom_Przelewy_Helper</class>
            </przelewy>
        </helpers>
        <resources>
            <przelewy_setup>
                <setup>
                    <module>Dialcom_Przelewy</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </przelewy_setup>
            <przelewy_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </przelewy_write>
            <przelewy_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </przelewy_read>
            <recuring_setup>
                <setup>
                    <module>Dialcom_Przelewy</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </recuring_setup>
            <recuring_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </recuring_write>
            <recuring_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </recuring_read>
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <method_id><to_order_payment>*</to_order_payment></method_id>
                <method_name><to_order_payment>*</to_order_payment></method_name>
                <accept_regulations><to_order_payment>*</to_order_payment></accept_regulations>
                <cc_id><to_order_payment>*</to_order_payment></cc_id>
                <cc_name><to_order_payment>*</to_order_payment></cc_name>
                <p24_forget><to_order_payment>*</to_order_payment></p24_forget>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <dialcom_przelewy>
                    <file>dialcom_przelewy.xml</file>
                </dialcom_przelewy>
            </updates>
        </layout>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <dialcom_przelewy>
                        <class>dialcom_przelewy/observer</class>
                        <type>singleton</type>
                        <method>adminhtmlWidgetContainerHtmlBefore</method>
                    </dialcom_przelewy>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        <translate>
            <modules>
                <Dialcom_Przelewy>
                    <files>
                        <default>Dialcom_Przelewy.csv</default>
                    </files>
                </Dialcom_Przelewy>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <foo_bar z="Mage_Adminhtml">Dialcom_Przelewy_Adminhtml</foo_bar>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <dialcom_przelewy>
                    <file>dialcom_przelewy.xml</file>
                </dialcom_przelewy>
            </updates>
        </layout>
        <routers>
            <przelewy>
                <use>standard</use>
                <args>
                    <module>Dialcom_Przelewy</module>
                    <frontName>przelewy</frontName>
                </args>
            </przelewy>
        </routers>
        <translate>
            <modules>
                <Dialcom_Przelewy>
                    <files>
                        <default>Dialcom_Przelewy.csv</default>
                    </files>
                </Dialcom_Przelewy>
            </modules>
        </translate>
    </frontend>
    <default>
        <przelewytab1>
            <oneclick>
                <oneclick>0</oneclick>
                <payinshop>0</payinshop>
            </oneclick>
            <paymethods>
                <showpaymethods>0</showpaymethods>
                <paymethod_first>25,31,112,20,65</paymethod_first>
            </paymethods>
            <paysettings>
                <usegraphical>1</usegraphical>
                <p24regulations>0</p24regulations>
                <raty>0</raty>
                <payslow>0</payslow>
                <timelimit>15</timelimit>
                <sendlink_mailtemplate>0</sendlink_mailtemplate>
                <ivr>0</ivr>
                <chg_state>1</chg_state>
                <mk_invoice>1</mk_invoice>
                <wait_for_result>0</wait_for_result>
            </paysettings>
            <additionall>
                <extracharge>0</extracharge>
                <extracharge_amount>0</extracharge_amount>
                <extracharge_percent>0</extracharge_percent>
                <zencard>0</zencard>
            </additionall>
        </przelewytab1>
        <payment>
            <dialcom_przelewy>
                <active>0</active>
                <model>przelewy/payment_przelewy</model>
                <order_status>1</order_status>
                <title>Przelewy24</title>
                <text>After ordering you will be redirected to the service Przelewy24 to finish payments</text>
                <uri>https://secure.przelewy24.pl/</uri>
                <min_order_total>0</min_order_total>
                <max_order_total>0</max_order_total>
            </dialcom_przelewy>
        </payment>
    </default>
</config>