<?xml version="1.0"?>
<config>
  <modules>
    <Istans_Quickorder>
      <version>0.1.0</version>
    </Istans_Quickorder>
  </modules>
  <frontend>
    <routers>
      <quickorder>
        <use>standard</use>
          <args>
            <module>Istans_Quickorder</module>
            <frontName>quickorder</frontName>
          </args>
      </quickorder>
    </routers>
		<layout>
		  <updates>
			<quickorder>
			  <file>quickorder.xml</file>
			</quickorder>
		  </updates>
		</layout>
	<translate>
		<modules>
			<Istans_Quickorder>
				<files>
					<default>Istans_Quickorder.csv</default>
				</files>
			</Istans_Quickorder>
		</modules>
	</translate>
  </frontend>
  <global>
    <helpers>
      <quickorder>
        <class>Istans_Quickorder_Helper</class>
      </quickorder>
    </helpers>
	<blocks>
	  <quickorder>
		<class>Istans_Quickorder_Block</class>
	  </quickorder>
	</blocks>
  </global>
</config> 