<!--@subject {{var store.getFrontendName()}}: Nowe Zamówienie nr {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
    <head>
    </head>
    <body style="background:#F6F6F6; font-size:12px; margin:0; padding:0;">
    {{template config_path="design/email/header"}}
    {{inlinecss file="email-inline.css"}}
    <div style="background:#F6F6F6; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="">
            <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0; border:none;">
                <!-- [ header starts here] -->
                <tr>
                    <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/prepared_image_email.png" _area='frontend'}}" alt="bg-image" style="width: 100%;"/></a></td>
                    <span class="my_order">My order</span>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td id="main_row" valign="top" style="padding-top: 43px; padding-bottom: 60px;">
                        <h1 style="font-weight:normal; font-family: 'Rochester', cursive;">Your order is being prepared! {{htmlescape var=$order.getCustomerName()}}</h1>
                        <p>Your oder gonna be delivered via DPD. </p>
                        <p>Your order number is: #{{var order.increment_id}}</p> 
                        <a href="{{store url=""}}"><div class="track_your_package">TRACK YOUR PACKAGE</div></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0" width="650">
                            <thead>
                                <tr>
                                    <div class="two-columns-one-row">
                                        <div class="first-tile-container">
                                            <div class="first-tile">
                                                <p>ORDER DETAILS</p>
                                                <p>Order ID</p>
                                                <p><span class="no-link">#{{var order.increment_id}}</span></p>
                                                <p>Placed on</p>
                                                <p>#{{var order.getCreatedAtFormated('short')}}</p>
                                            </div>  
                                        </div>
                                        <div class="second-tile-container">
                                            <div class="second-tile">
                                                <p>ORDER REVIEW</p>
                                                <p>Order Address</p>
                                                <p>#{{var order.getShippingAddress().format('html')}}</p>
                                            </div> 
                                        </div> 
                                    </div>
                                </tr>
                            </thead>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </table>
    </div>
    </body>
    